*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/*banner.js*/
.banner {
  font-family: 'Raleway', sans-serif;
}

.banner > h1 {
  font-size: 3rem;
  font-weight: bold;
}

.banner > p {
  font-style: italic;
}
/**************************/

/*Home.js*/

.productCarousel {
  
  margin-left: -10px;   
}

.homeContainer {
  background-image: radial-gradient(circle at 22% 15%, rgba(45, 45, 45,0.05) 0%, rgba(45, 45, 45,0.05) 50%,rgba(95, 95, 95,0.05) 50%, rgba(95, 95, 95,0.05) 100%),radial-gradient(circle at 83% 16%, rgba(122, 122, 122,0.05) 0%, rgba(122, 122, 122,0.05) 50%,rgba(194, 194, 194,0.05) 50%, rgba(194, 194, 194,0.05) 100%),radial-gradient(circle at 74% 7%, rgba(82, 82, 82,0.05) 0%, rgba(82, 82, 82,0.05) 50%,rgba(230, 230, 230,0.05) 50%, rgba(230, 230, 230,0.05) 100%),linear-gradient(90deg, rgb(243, 136, 126),rgb(251, 43, 71));
  height: 90vh;
}

/******Login from******/
.LoginForm {
  width: 75%;
  position: relative;
  top: 130px;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  background-color: white;
  padding: 10px;
  border-radius: 4px;
}

.loginPageContainer {
  min-height: 90vh;
}

.loginLink {
  text-decoration: none;
}

.p-in-loginForm {
  font-size: .9rem;
  margin-top: 20px;
}
/********************************/

.adminNavLink, #nav-dropdown{
  min-width: 150px;
  text-align: center;
}

.addProductBtn:hover {
    background: #8b94a3;
    text-decoration: none;
}

.table-header{
  font-weight: 800;
  font-size: 1.1em;
}

.table-data{
  font-size: .9em;
}

.add-product-conatainer{
  border: 1px solid black;
}

.btnAddForm{
  position: fixed;
  right: 10px;
  top: 330px;
  min-width: 80px;
}

.btnRemoveForm{
  position: fixed;
  right: 10px;
  top: 370px;
  min-width: 80px;
}

/*Navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.navbar-nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  margin-right: 1rem;
}

.nav-link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #007bff;
}

/*Product List*/
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 2rem 0;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 1rem;
}

.product img {
  max-width: 100%;
  margin-bottom: 1rem;
}

.product h3 {
  margin-bottom: 0.5rem;
}

.product p {
  margin-bottom: 1rem;
}

.product button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.product button:hover {
  background-color: #0069d9;
}


.loginPage, .registerPage{
  background-image: linear-gradient(216deg, rgba(77, 77, 77,0.05) 0%, rgba(77, 77, 77,0.05) 25%,rgba(42, 42, 42,0.05) 25%, rgba(42, 42, 42,0.05) 38%,rgba(223, 223, 223,0.05) 38%, rgba(223, 223, 223,0.05) 75%,rgba(36, 36, 36,0.05) 75%, rgba(36, 36, 36,0.05) 100%),linear-gradient(44deg, rgba(128, 128, 128,0.05) 0%, rgba(128, 128, 128,0.05) 34%,rgba(212, 212, 212,0.05) 34%, rgba(212, 212, 212,0.05) 57%,rgba(25, 25, 25,0.05) 57%, rgba(25, 25, 25,0.05) 89%,rgba(135, 135, 135,0.05) 89%, rgba(135, 135, 135,0.05) 100%),linear-gradient(241deg, rgba(55, 55, 55,0.05) 0%, rgba(55, 55, 55,0.05) 14%,rgba(209, 209, 209,0.05) 14%, rgba(209, 209, 209,0.05) 60%,rgba(245, 245, 245,0.05) 60%, rgba(245, 245, 245,0.05) 69%,rgba(164, 164, 164,0.05) 69%, rgba(164, 164, 164,0.05) 100%),linear-gradient(249deg, rgba(248, 248, 248,0.05) 0%, rgba(248, 248, 248,0.05) 32%,rgba(148, 148, 148,0.05) 32%, rgba(148, 148, 148,0.05) 35%,rgba(202, 202, 202,0.05) 35%, rgba(202, 202, 202,0.05) 51%,rgba(181, 181, 181,0.05) 51%, rgba(181, 181, 181,0.05) 100%),linear-gradient(92deg, hsl(214,0%,11%),hsl(214,0%,11%));
}

.loginContainer, .registerContainer{
  min-height: 500px;

}

.formLogin, .formRegister{
  width: 75%;
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px -2px rgba(67, 0, 0, .7);
  background-color: white;
}

.loginRow, .regRow{
  min-height: 500px;
  align-content: center;
}

.loginBtn, .regBtn{
  width: 100px;
}

.admin-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: .8em;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}